{% extends "base.html" %}

<!-- Replace the title block with this one: -->
{% block title %}Home - Shout your Breakfast{% endblock %}

<!-- Replace the content block with this one: -->
{% block content %}
<h1>Hello, {{ name }}!</h1>
<a href="/posts">Click here to view the blog</a>
<hr />
<form method="post" action="/sendBreakfast">
  <label for="nickname">What's your nickname?</label>
  <input type="text" name="nickname" />
  <label for="breakfast">What did you have for breakfast?</label>
  <input type="text" name="breakfast" />
  <input type="submit" />
</form>
<img src="static/images/micropig.jpg" />
{% endblock %}
