<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FORMS</title>
  </head>
  <body>
    <form method="post" action="/sendBreakfast">
      <label for="nickname">What's your nickname?</label>
      <input type="text" name="nickname" />
      <label for="breakfast">What did you have for breakfast?</label>
      <input type="text" name="breakfast" />
      <input type="submit" />
    </form>
  </body>
</html>
